{# templates/reset_password/request.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}
{% block header %}
    
{% endblock %}

{% block body %}
    <body class="bg-gradient-dark">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block ">
                            <img class="card-img-top" src="../img/gnl logo.png" alt="...">
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                                </div>
                                {{ form_start(requestPassForm) }}
                                <div class="form-group">
                                    {{ form_label(requestPassForm.email) }}
                                    {{ form_widget(requestPassForm.email) }}
                                </div>
                                <button class="btn btn-lg btn-dark" type="submit">
                                    Send Code With E-mail
                                </button>
                                {{ form_end(requestPassForm) }}
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ path('forgotten_password') }}">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ path('app_login') }}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
    </body>
{% endblock %}
{% block footer %}
    
{% endblock %}