{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block header %}
    
{% endblock %}
{% block body %}
    </head>

<body class="bg-gradient-dark">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                
                <div class="row">
                    
                <div class="col-lg-5 d-none d-lg-block "> <img class="card-img-top" src="../assets/uploads/2.png" alt="..." /></div>
                
                 
                    
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        
         
        {{ form_row(registrationForm.photo) }}
        {{ form_row(registrationForm.lastname) }}
       {{ form_row(registrationForm.firstname) }}
                            
       {{ form_row(registrationForm.phone) }}

       {{ form_row(registrationForm.address) }}
                            
                            
       {{ form_row(registrationForm.zipcode) }}
                            
       {{ form_row(registrationForm.city) }}
       
       {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-info btn-user btn-block" href={{ path('app_main') }}>Register</button>
    {{ form_end(registrationForm) }}
                 
                            <div class="text-center">
                                <a class="small" href={{ path( "forgotten_password")}}>Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href={{ path('app_login') }}>Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
{% endblock %}
{% block footer %}
    
{% endblock %}
