{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick-theme.css') }}">

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-info text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Start Content -->
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-3 mb-3">
                {% include "_partials/_btn_go_back.html.twig" %}
               <!-- <h1 class="h2 pb-4 mt-3">Categories</h1>
                <ul class="">
                    {% for category in categories %}
                        <li class="pb-3">
                            <a class="btn btn-sm mt-auto creative-link" href="{{ path('sub_categories_child', {'id': category.id}) }}">
                                <span class="d-block h3 mb-0">{{ category.name }}</span>
                            </a>
                            <ul class="collapse show list-unstyled pl-3">
                                Add subcategories if needed -->
                          <!--   </ul>
                        </li>
                    {% endfor %}
                </ul> -->
            </div>
            <!-- End Sidebar -->

            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="row">
                    <!-- Top Menu -->
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{{ path('products_all_products') }}">All</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex"></div>
                    </div>
                    <!-- End Top Menu -->
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
              
                    
                
                    
              
                    {% for product in shop.products %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 mb-4 product-wap rounded-0 mt-2 m-auto">
                                <div class="card rounded-0">
                                    {% if product.isProductNew() %}
                                        <span class="badge bg-info big">New</span>
                                    {% endif %}
                                    <img class="card-img rounded-0 img-fluid" src="{{ asset('assets/uploads/products/mini/300x300-' ~ product.images[0].name) }}">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <li><a class="btn btn-info text-white" href="#"><i class="far fa-heart"></i></a></li>
                                            <li><a class="btn btn-info text-white mt-2" href="{{ path('products_details', {'id': product.id}) }}"><i class="far fa-eye"></i></a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="{{ path('products_details', {'id': product.id}) }}" class="fs-5 text-decoration-none">{{ product.name }}</a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li>
                                            <div class="small-bold mb-1">{{ product.subcategories }}</div>
                                            {% if product.isProductNew() %}
                                                <span class="badge bg-info big">New</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <p class="text-center mb-0">{{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                     
                    
                </div>
            </div>
            <!-- End Main Content -->
        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!-- Controls -->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!-- Carousel Wrapper -->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!-- Slides -->
                                <div class="carousel-inner product-links-wap" role="listbox">
                                    <!-- First slide -->
    <div class="carousel-item active">
    <div class="row">
        <div class="col-3 p-md-5">
            <a href="#"><img class="img-fluid brand-img" src="{{ asset('assets/img/brand_01.png') }}" alt="Brand Logo"></a>
        </div>
        <div class="col-3 p-md-5">
            <a href="#"><img class="img-fluid brand-img" src="{{ asset('assets/img/brand_02.png') }}" alt="Brand Logo"></a>
        </div>
        <div class="col-3 p-md-5">
            <a href="#"><img class="img-fluid brand-img" src="{{ asset('assets/img/brand_03.png') }}" alt="Brand Logo"></a>
        </div>
        <div class="col-3 p-md-5">
            <a href="#"><img class="img-fluid brand-img" src="{{ asset('assets/img/brand_04.png') }}" alt="Brand Logo"></a>
        </div>
        <!-- Add more brand items as needed -->
    </div>
</div>

                                   
                                    <!-- End Slides -->
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!-- End Controls -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Brands -->
{% endblock %}
